.Rproj.user
.Rhistory
.RData
.Ruserdata

figures/archives
figures/archives 2
figures/archives 3 before 0s
figures/archives 4 after 0s
figures/archives 5 0s NAs fix
figures_EMA
figures/Number_populations_monitored_catches.jpeg

data_input/nuseds_cuid_streamid_20240419.csv
data_input/nuseds_cuid_streamid_2024-11-21.csv
data_input/nuseds_cuid_streamid_2024-11-25.csv

ignore
